<%= form_for(@address_book) do |f| %>
  <% if @address_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_book.errors.count, "error") %> prohibited this address_book from being saved:</h2>

      <ul>
      <% @address_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imie %><br />
    <%= f.text_field :imie %>
  </div>
  <div class="field">
    <%= f.label :nazwisko %><br />
    <%= f.text_field :nazwisko %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :www %><br />
    <%= f.text_field :www %>
  </div>
  <div class="field">
    <%= f.label :adres %><br />
    <%= f.text_area :adres %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
