<div id="wrapper">
  <div id="steps">
    <%= form_for @address_book, :html => { :id => "formElem" } do |f| %>
    
    <fieldset class="step">
      <legend>Krok 1.</legend>
      <p>
        <%= f.label :imie %><br />
        <%= f.text_field :imie %>
      </p>
      <p>
        <%= f.label :nazwisko %><br />
        <%= f.text_field :nazwisko %>
      </p>
    </fieldset>
    <fieldset class="step">
      <legend>Krok 2.</legend>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :www %><br />
        <%= f.text_field :www %>
      </p>
    </fieldset>
    <fieldset class="step">
      <legend>Krok 3.</legend>
      <p>
        <%= f.label :adres %><br />
        <%= f.text_field :adres %>
      </p>
    </fieldset>
    <fieldset class="step">
      <legend>Wyslij</legend>
      <p>
        <%= f.submit %>
      </p>
    </fieldset>
    <% end %>
  </div>
  <div id="navigation" style="display:none;">
    <ul>
      <li class="selected">
	<a href="#">Krok 1.</a>
      </li>
      <li>
	<a href="#">Krok 2.</a>
      </li>
      <li>
	<a href="#">Krok 3.</a>
      </li>
      <li>
	<a href="#">Wyslij</a>
      </li>
    </ul>
  </div>
</div>
